<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- VUE.JS  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--END VUE.JS  -->

    <!-- FONTAWESOME  -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css' integrity='sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ==' crossorigin='anonymous'/>
    <!--END FONTAWESOME  -->

    <!-- CSS  -->
    <link rel="stylesheet" href="style.css">
    <!--END CSS  -->
</head>
<body>
    <!-- HEADER  -->
    <header></header>
    <!--END HEADER  -->

    <!-- MAIN  -->
    <main>
        <!-- APP  -->
        <div id="app">
            <!-- CHATS  -->
            <div class="app-chats">

                <!-- profile and options  -->
                <div class="profile-options">

                    <!-- profile  -->
                    <div class="my-profile">
                        <img src="img/avatar_io.jpg" alt="">
                        <div class="user">
                            <span class="nome">Sofia</span>
                            <!-- <br>
                            <span class="date">Ultimo accesso oggi alle </span> -->
                        </div>
                    </div>
                    <!--end profile  -->

                    <!-- options -->
                    <div class="options my-profile">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <!--end options -->
                </div>
                <!--end profile and options  -->

                <!-- notification -->
                <div class="notification">
                    <div class="bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notification-text">
                        <p>Ricevi notifiche di nuovi messagi</p>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                    
                </div>
                <!--end notification -->

                <!-- search tools -->
                <div class="search-tools clearfix">
                    <button class="float-left">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input class="float-left" @keyup.enter="consolelog" v-model = "search"type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <!-- end search tools -->

                <!-- open-chronology -->
                <div  class="open-chronology">
                    <div v-for="(contact, index) in contacts" v-if=" search === '' || contact.name.includes(search) || contact.name.charAt(0).includes(search) " @click="clickedChat = index" class="profile-openchat">
                        <img :src="'img/avatar'+ contact.avatar +'.jpg'" alt="">
                        <div class="user">
                            <span class="nome">{{contact.name}}</span>
                            <br>
                            <span class="last-sms">{{contact.messages[1].message}}</span>
                        </div>
                        <div class="date"><span>{{contact.messages[1].date.slice(11)}}</span></div>
                    </div>
                </div>
                <!--END open-chronology -->

            </div>
            <!--END CHATS  -->




            <!-- THE CHAT MODE -->
            <div class="chatmode">
                <!-- chat-contact-options -->
                <div class="chat-contact-options">
                        <!-- profile chatmode -->
                        <div class="profile-chatmode ">
                            <img :src="'img/avatar'+contacts[clickedChat].avatar+'.jpg'" alt="">
                            <div class="user">
                                <span class="nome">{{contacts[clickedChat].name}}</span>
                                <br>
                                <span class="last-sms">{{contacts[clickedChat].messages[1].date.slice(11)}}</span>
                            </div>
                        <!--end profile  -->
                    </div>
                    <!--end chat-contact-options -->

                    <!-- chatmode-options  -->
                    <div class="options my-profile">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <!--end chatmode-options  -->
                </div>
                <!--end chat-contact-options -->


                <!-- messages-container -->
                <div class="messages-container">
                    <!-- messages  -->
                    <div class="messages">
                        <div v-if="contacts[clickedChat].messages.length > 0"
                             v-for=" (smsi, index) in contacts[clickedChat].messages" 
                             class="smscontainer " :class="smsi.status">
                            
                            <div class="sms" :class="smsi.status">
                                <div class="delete-options" @click = "hideChevron = !hideChevron">
                                    <i class="fa-solid fa-chevron-down"></i>
                                    <ul v-if="hideChevron">
                                        <li @click = "deletes(index)">cancella messaggio</li>
                                        <li>informazioni messaggio</li>
                                    </ul>
                                </div>
                                <p>{{smsi.message}}</p>
                                <span>{{contacts[clickedChat].messages[index].date.slice(11)}}</span>
                            </div>
                        </div>
                        <div class="div" v-else="">lalala</div>
                    </div>
                    <!--end messages  -->

                    <!-- write-tools  -->
                    <div class="write-tools">
                        <i class="fa-solid fa-face-laugh-squint"></i>
                        <input type="text" v-model="inputSms.message" @keyup.enter="sendSms()" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                    <!--end write-tools  -->
                </div>
                <!--end messages-container -->

            </div>
            <!--END THE CHAT  -->

        </div>
        <!-- END APP  -->
    </main>
    <!-- END MAIN  -->

    <!-- SCRIPT  -->
    <script src="js/contacts-boolzapp.js"></script>
    <!--END SCRIPT  -->
</body>
</html>