/* GENERALS  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #dadad3;
}
/*END GENERALS  */
/* 569486 */

/* HEADER  */
header{
    background-color: #009688;
    height: 15vh;
}

/*END HEADER  */

/* APP  */

#app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 95vh;
    width: 80%;
    background-color: white;
}

/* CHATS  */
.app-chats{
    width: 30%;

}
/* profile and options */
.profile-options{
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}
.my-profile{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    
}

.options i{
    margin: 0 10px;
    font-size: 25px;
    color: #afafaf;
}


.notification{
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 20px;
}
.bell{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafc;
    margin-right: 10px;
}
.bell i{
    font-size: 25px;

}
.notification-text a{
    color: gray;
}

/*END APP  */