/* GENERALS  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dadad3;
}
/*END GENERALS  */
/* 569486 */

/* HEADER  */
header{
    background-color: #569486;
    height: 15vh;
}

/*END HEADER  */

/* APP  */

/* chats  */
#app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80vh;
    width: 80%;
    background-color: white;
}

.profile-options{
    display: flex;
    justify-content: space-between;
    width: 30%;
    background-color: #e9e9e9;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}
.my-profile{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    
}

.options i{
    margin: 0 10px;
    font-size: 25px;
    color: #afafaf;
}


/*END APP  */